@layer properties;
@layer theme, base, components, utilities;

@import "tailwindcss";
@import "basecoat-css";

@custom-variant dark (&:is(.dark *));

/* Defaults */

:root {
    color-scheme: light dark;
}

/* Custom scrollbar styling */

*::-webkit-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: var(--scrollbar-radius);
}

*::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: var(--scrollbar-radius);
    border: 1px solid var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

/* Missing Tailwind utilities */
.hover\:text-muted-foreground {
    &:hover {
        @media (hover: hover) {
            color: var(--color-muted-foreground);
        }
    }
}
